body{
    background-color:black;
        color: blue;
 
}

h4{
	    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a:link {
    color: purple;
    text-decoration: underline;
}


a:hover{
    color: cyan;
}

footer{
	position: relative;
}

.footer-icons{
    width: 160px;
    height: 160px;
}

